<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <client> 

        <endpoint address="net.tcp://172.16.112.128:8080/talk"
                  binding="netTcpBinding"
                  contract="Common.IService"/>
   
    </client>
    
  </system.serviceModel>
  
</configuration>